#### Centro Universitário Instituto de Educação Superior de Brasília.
#### Ciência de Dados e Inteligência Artificial: Programação Avançada de Computadores.
#### Professor: Marcos Guimarães.
#### Aluna: Stéfanie V. I. Pereira.
#### Matrícula: 1812120012.


# IGM - Índice de Governança Municipal

### Análise dos Dados IGM [em desenvolvimento]
Com base no arquivo XLSX (formato Excel), será feita a analise dos dados referentes aos municípios brasileiros até o ano de 2017.

Dados obtidos no site:
    http://www.igm.cfa.org.br/downloads -> DADOS IGM-CFA 2017

Arquivo:
    dados_IGM-CFA_2017.xlsx

In [1]:
# Criar pasta(repositorio) no Github, colocar os arquivos com o arquivo do jupter + o banco de dados.
# Produzir um relatorio sobre a analise destes dados.
# Para os dados em diferentes planilhas (excell), criar um dataframe para
# cada planilha e depois utilizar o merge para uni-los.

In [2]:
# Importando as bibliotecas
import pandas as pd

In [3]:
# Criando um dataframe com base na planilha 'Ranking' do arquivo Excel:
dfr = pd.read_excel('dados_IGM-CFA_2017.xlsx',   # Nome do arquivo Excel.
                    sheet_name='Ranking',   # Planilha de interesse.
                    header=None,   # Numerar colunas.
                    skiprows=1,   # Linhas a serem puladas/ignoradas.
                    usecols=[3,4,6,7,32,34,35,36,37,38])   # Colunas de interesse.

# Exibindo as 5 primeiras linhas:
dfr.head()

,0,1,2,3,4,5,6,7,8,9
0,Estado,Nome,Porte do Município,População 2016 (IBGE),Violência - 2017,Vulnerabilidade - 2017,Atendimento Médico - 2017,Educação - 2017,Mortalidade Infantil - 2017,IDHM - 2017
1,SP,SAO BERNARDO DO CAMPO,Grande porte,822242,0.915335,0.896793,0.099539,0.761786,0.882146,0.863962
2,PR,ITAIPULANDIA,Pequeno porte 1,10413,0.715384,0.918239,0.392003,0.723482,0.915741,0.704057
3,RJ,NITEROI,Grande porte,497883,0.85561,0.909865,0.181257,0.763024,0.880249,0.940334
4,SP,INDAIATUBA,Grande porte,235367,0.937617,0.935564,0.178164,0.758198,0.867787,0.823389

In [4]:
# Exibindo as 5 últimas linhas:
dfr.tail()

,0,1,2,3,4,5,6,7,8,9
5566,TO,TAGUATINGA,Pequeno porte 1,16386,0.910293,0.507684,0.203733,0.360708,0.796532,0.455847
5567,TO,TAIPAS DO TOCANTINS,Pequeno porte 1,2112,NaN,0.351699,NaN,0.686294,0.720672,0.377088
5568,TO,TALISMA,Pequeno porte 1,2757,0.423969,0.767106,0.336666,0.42196,0.731509,0.50358
5569,TO,TOCANTINIA,Pequeno porte 1,7387,0.939071,0.506227,0.129573,0.304846,0.65294,0.348449
5570,TO,WANDERLANDIA,Pequeno porte 1,11622,0.699219,0.570915,0.171242,0.646116,0.501219,0.465394

In [5]:
# Criando um DataFrame com base na planilha 'Fiscal' do arquivo Excel:
dff = pd.read_excel('dados_IGM-CFA_2017.xlsx',   # Nome do arquivo Excel.
                    sheet_name='Fiscal',   # Planilha de interesse.
                    header=None,   # Numerar colunas.
                    skiprows=1,   # Linhas a serem puladas/ignoradas.
                    usecols=[12,13,14,15])   # Colunas de interesse.

# Exibindo as 5 primeiras linhas:
dff.head()

,0,1,2,3
0,Despesas com educação (STN 2016),Despesas com saúde (STN 2016),Gasto per capita educação 2016 (Despesas com e...,Gasto per capita saúde 2016 (Despesas com saúd...
1,7.75758e+06,7.0154e+06,1645.65,1488.2
2,1.04188e+07,9.84466e+06,1925.85,1819.72
3,1.35462e+08,1.43626e+08,1607.02,1703.87
4,2.1645e+07,1.47439e+07,2078.66,1415.91

In [6]:
# Exibindo as 5 últimas linhas:
dff.tail()

                0            1        2        3
5566    5.897e+06  3.31515e+06  805.821  453.013
5567  3.01835e+06   1.8439e+06  1184.59  723.664
5568  1.27528e+06       693989  271.221  147.594
5569  3.36934e+06  3.27695e+06  809.742   787.54
5570  8.87466e+06   8.2255e+06    541.6  501.984

In [7]:
# Criando um DataFrame com base na planilha 'Gestão' do arquivo Excel:
dfg = pd.read_excel('dados_IGM-CFA_2017.xlsx',   # Nome do arquivo Excel.
                    sheet_name='Gestão',   # Planilha de interesse.
                    header=None,   # Numerar colunas.
                    skiprows=1,   # Linhas a serem puladas/ignoradas.
                    usecols=[26,27,28,29,30,31,32,33,34,35,36])   # Colunas de interesse.

# Exibindo as 5 primeiras linhas:
dfg.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Informatização - 2017,Educação,Assistência e desenvolvimento social,Turismo,Cultura,Habitação,Meio ambiente,Transporte,Desenvolvimento urbano,Saneamento básico,Gestão das águas
1,0.999572,1,1,1,1,1,1,1,1,1,1
2,0.999572,1,1,1,1,1,1,1,1,1,1
3,0.999572,1,1,1,1,1,1,1,1,1,1
4,0.999572,1,1,1,1,1,1,1,1,1,0

In [8]:
# Exibindo as 5 últimas linhas:
dfg.tail()

            0  1  2  3  4  5  6  7  8  9  10
5566  0.999642  0  0  0  0  0  0  0  0  0  0
5567  0.704208  0  0  0  0  0  0  0  0  0  0
5568  0.999642  0  0  0  0  0  0  0  0  0  0
5569  0.999642  0  0  0  0  0  0  0  0  0  0
5570  0.999642  0  0  0  0  0  0  0  0  0  0

In [9]:
# Criando um DataFrame com base na planilha 'Desempenho' do arquivo Excel:
dfd = pd.read_excel('dados_IGM-CFA_2017.xlsx',   # Nome do arquivo Excel.
                    sheet_name='Desempenho',   # Planilha de interesse.
                    header=None,   # Numerar colunas.
                    skiprows=1,   # Linhas a serem puladas/ignoradas.
                    usecols=[36,37,38,39])   # Colunas de interesse.

# Exibindo as 5 primeiras linhas:
dfd.head()

,0,1,2,3
0,Taxa de abandono escolar no Ens. Fundamental 2...,Taxa de abandono escolar no Ens. Médio 2010 - ...,Taxa de abandono escolar no Ens. Fundamental 2...,Taxa de abandono escolar no Ens. Médio 2016 - ...
1,0.003,0.033,0.2,1.1
2,0.008,0.065,0.4,1.4
3,0.008,0.035,0.1,3.8
4,0.024,0.036,0.5,11.7

In [10]:
# Exibindo as 5 últimas linhas:
dfd.tail()

          0      1    2    3
5566   0.02  0.026  1.7  5.4
5567  0.001  0.051    2  7.6
5568  0.035  0.078  1.2  3.7
5569  0.021  0.017  2.5    0
5570  0.029  0.166  2.4  7.2

In [11]:
dfall = pd.join(dfr[0,1,4,6,7], dff[0], dfg[4], dfd[3])
dfall.head()

AttributeError: module 'pandas' has no attribute 'join'

In [12]:
df = dfr.append([dff, dfg, dfd])
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Estado,Nome,Porte do Município,População 2016 (IBGE),Violência - 2017,Vulnerabilidade - 2017,Atendimento Médico - 2017,Educação - 2017,Mortalidade Infantil - 2017,IDHM - 2017,NaN
1,SP,SAO BERNARDO DO CAMPO,Grande porte,822242,0.915335,0.896793,0.099539,0.761786,0.882146,0.863962,NaN
2,PR,ITAIPULANDIA,Pequeno porte 1,10413,0.715384,0.918239,0.392003,0.723482,0.915741,0.704057,NaN
3,RJ,NITEROI,Grande porte,497883,0.85561,0.909865,0.181257,0.763024,0.880249,0.940334,NaN
4,SP,INDAIATUBA,Grande porte,235367,0.937617,0.935564,0.178164,0.758198,0.867787,0.823389,NaN

In [13]:
df.tail()

         0      1    2    3    4    5    6    7    8    9    10
5566   0.02  0.026  1.7  5.4  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5567  0.001  0.051    2  7.6  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5568  0.035  0.078  1.2  3.7  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5569  0.021  0.017  2.5    0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5570  0.029  0.166  2.4  7.2  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [14]:
# Qual o tamanho do DataFrame em termos de (linhas, colunas) ?
dfr.shape

(5571, 10)

In [15]:
 dff.shape

(5571, 4)

In [16]:
dfg.shape

(5571, 11)

In [17]:
dfd.shape

(5571, 4)

In [18]:
df.shape

(22284, 11)

In [19]:
# Quais os tipos de cada coluna?
dfr.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
8    object
9    object
dtype: object

In [20]:
dff.dtypes

0    object
1    object
2    object
3    object
dtype: object

In [21]:
dfg.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
dtype: object

In [22]:
dfd.dtypes

0    object
1    object
2    object
3    object
dtype: object

In [23]:
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
dtype: object

In [24]:
# Como visualizar as colunas que possuem valores nulos?
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 10 columns):
0    5571 non-null object
1    5571 non-null object
2    5571 non-null object
3    5571 non-null object
4    4364 non-null object
5    5478 non-null object
6    5142 non-null object
7    5456 non-null object
8    5523 non-null object
9    5523 non-null object
dtypes: object(10)
memory usage: 435.3+ KB

In [25]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 4 columns):
0    5293 non-null object
1    5289 non-null object
2    5293 non-null object
3    5289 non-null object
dtypes: object(4)
memory usage: 174.2+ KB

In [26]:
dfg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 11 columns):
0     5411 non-null object
1     5568 non-null object
2     5568 non-null object
3     5568 non-null object
4     5568 non-null object
5     5568 non-null object
6     5568 non-null object
7     5568 non-null object
8     5568 non-null object
9     5568 non-null object
10    5568 non-null object
dtypes: object(11)
memory usage: 478.8+ KB

In [27]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 4 columns):
0    5566 non-null object
1    5552 non-null object
2    5571 non-null object
3    5571 non-null object
dtypes: object(4)
memory usage: 174.2+ KB

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22284 entries, 0 to 5570
Data columns (total 11 columns):
0     21841 non-null object
1     21980 non-null object
2     22003 non-null object
3     21999 non-null object
4     9932 non-null object
5     11046 non-null object
6     10710 non-null object
7     11024 non-null object
8     11091 non-null object
9     11091 non-null object
10    5568 non-null object
dtypes: object(11)
memory usage: 2.0+ MB

In [29]:
# Municípios por UF:
dfr[0].value_counts()

MG        853
SP        645
RS        497
BA        417
PR        399
SC        295
GO        246
PI        224
PB        223
MA        217
PE        185
CE        184
RN        167
PA        144
MT        141
TO        139
AL        102
RJ         92
MS         79
ES         78
SE         75
AM         62
RO         52
AC         22
AP         16
RR         15
DF          1
Estado      1
Name: 0, dtype: int64

In [30]:
# Quantos municípios estão descritos?
dfr.describe()

,0,1,2,3,4,5,6,7,8,9
count,5571,5571,5571,5571,4364.0,5478.00000,5142.000000,5456.00000,5523.000000,5523.000000
unique,28,5291,5,5114,4299.0,5460.00000,5137.000000,5448.00000,557.000000,349.000000
top,MG,SAO DOMINGOS,Pequeno porte 1,7804,0.5,0.54409,0.160147,0.47411,0.850718,0.637231
freq,853,5,3810,4,27.0,2.00000,2.000000,2.00000,64.000000,43.000000

In [31]:
#Quais são:
dfr[1].unique

<bound method Series.unique of 0                               Nome
1              SAO BERNARDO DO CAMPO
2                       ITAIPULANDIA
3                            NITEROI
4                         INDAIATUBA
5                 BALNEARIO CAMBORIU
6                         RIO DO SUL
7                            GRAMADO
8                      SAO SEBASTIAO
9                     GAVIAO PEIXOTO
10               SANTANA DE PARNAIBA
11                      SANTA HELENA
12                   CHAPADAO DO CEU
13                    CARLOS BARBOSA
14                            SANTOS
15                         CONCORDIA
16                          BLUMENAU
17                           EXTREMA
18                           JUNDIAI
19                    BELO HORIZONTE
20                          BARRETOS
21                        PIRACICABA
22                    ARROIO DO MEIO
23                         SAO PAULO
24                          BRASILIA
25                         GARIBALDI
26                           VITORIA
27                   BENTO GONCALVES
28                       VERANOPOLIS
29                     CARAGUATATUBA
                    ...
5541         PONTE ALTA DO BOM JESUS
5542         PONTE ALTA DO TOCANTINS
5543       PORTO ALEGRE DO TOCANTINS
5544                     PRAIA NORTE
5545              PRESIDENTE KENNEDY
5546                          PUGMIL
5547                   RECURSOLANDIA
5548                       RIACHINHO
5549                RIO DA CONCEICAO
5550                    RIO DOS BOIS
5551                         SAMPAIO
5552                     SANDOLANDIA
5553            SANTA FE DO ARAGUAIA
5554        SANTA MARIA DO TOCANTINS
5555         SANTA ROSA DO TOCANTINS
5556       SANTA TEREZA DO TOCANTINS
5557    SANTA TEREZINHA DO TOCANTINS
5558          SAO FELIX DO TOCANTINS
5559         SAO MIGUEL DO TOCANTINS
5560       SAO SALVADOR DO TOCANTINS
5561      SAO SEBASTIAO DO TOCANTINS
5562       SAO VALERIO DA NATIVIDADE
5563                    SILVANOPOLIS
5564         SITIO NOVO DO TOCANTINS
5565                        SUCUPIRA
5566                      TAGUATINGA
5567             TAIPAS DO TOCANTINS
5568                         TALISMA
5569                      TOCANTINIA
5570                    WANDERLANDIA
Name: 1, Length: 5571, dtype: object>

In [32]:
#dfr[4] = pd.to_numeric(dfr)

In [33]:
#dfr[dfr[4] != ('NaN'or'Violência - 2017')] = pd.to_numeric(dfr, errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [ ]:
# Qual município mais violento em 2017?

#dfr[dfr[4] != 'NaN'.max()]

#dfr[dfr[dfr[4] != 'NaN'] == df[4].max()]

In [ ]:
# Cidades com piores índices de educação e atendimento médico?

In [ ]:
# Quais os índices de abandono escolar destes municípios vistos anteriormente?

In [ ]:
# Ainda sobre aqueles municípios, quais as despesas com educação deles?

In [ ]:
# Quais dessas cidades possuem incentivo a cultura?